// Remove unused after project is done.

// Add as many others as needed.

$color-black: #000;
$color-white: #fff;
$color-midnight: #001836;
$color-fiord: #3e5067;
$color-dark-gray: #6a7889;
$color-chateau-gray: #9ea7b3;
$color-ghost: #cacfd5;
$color-iron: #dcdfe3;
$color-mercury: #e5e5e5;
$color-porcelain: #edeff1;
$color-light-gray: #f6f7f8;
$color-white: #fff;
$color-violet: #6e44ff;
$color-dark-blue: #03498f;
$color-mint: #7bf1a8;
$color-watermelon: #ff6e75;
$color-cyan: #72ddf7;
$color-yellow: #fadb5e;
$color-lavender: #b892ff;
