// Remove unused after project is done.

// Add as many others as needed, update values as you wish.

$font-size-mini: 10px;
$font-size-tiny: 12px;
$font-size-small: 14px;
$font-size-medium: 16px;
$font-size-big: 20px;
$font-size-large: 24px;
$font-size-xlarge: 36px;
$font-size-xxlarge: 100px;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-weight-heavy: 900;
